.wireframe-club {
  background-color: #ffffff;
  width: 100%;
  min-width: 1440px;
  min-height: 1637px;
  position: relative;
}

.wireframe-club .header {
  display: flex;
  width: 1440px;
  align-items: flex-start;
  justify-content: center;
  padding: var(--size-space-800) 100px var(--size-space-800) 94px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-background-default-default);
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: var(--color-border-default-default);
}

.wireframe-club .club {
  position: relative;
  width: 76.56px;
  height: 30.6px;
  margin-top: -0.24px;
}

.wireframe-club .navigation-pill-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px 16px;
  padding: 0px 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.wireframe-club .title-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-brand-tertiary);
  border-radius: var(--size-radius-200);
}

.wireframe-club .title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand-secondary);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.wireframe-club .navigation-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--size-radius-200);
}

.wireframe-club .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.wireframe-club .header-auth {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.wireframe-club .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-neutral-tertiary);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-neutral-secondary);
}

.wireframe-club .div {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.wireframe-club .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  background-color: #ab0ea1;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-brand-default);
}

.wireframe-club .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.wireframe-club .page-product-results {
  display: flex;
  width: 1440px;
  align-items: flex-start;
  gap: var(--size-space-1600);
  padding: var(--size-space-800) 100px var(--size-space-800) 100px;
  position: absolute;
  top: 96px;
  left: 0;
  background-color: var(--color-background-default-default);
}

.wireframe-club .filter-menu {
  flex-direction: column;
  width: 287px;
  align-items: flex-start;
  gap: var(--size-space-600);
  padding: var(--size-space-400);
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);
  display: flex;
  position: relative;
}

.wireframe-club .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-300);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wireframe-club .text {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.wireframe-club .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-strong-font-family);
  font-weight: var(--body-strong-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-strong-font-size);
  letter-spacing: var(--body-strong-letter-spacing);
  line-height: var(--body-strong-line-height);
  white-space: nowrap;
  font-style: var(--body-strong-font-style);
}

.wireframe-club .section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wireframe-club .text-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  white-space: nowrap;
  font-style: var(--body-base-font-style);
}

.wireframe-club .checkbox-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wireframe-club .checkbox-and-label {
  display: flex;
  align-items: center;
  gap: var(--size-space-300);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wireframe-club .checkbox {
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-100);
  overflow: hidden;
}

.wireframe-club .img {
  position: relative;
  width: 16px;
  height: 16px;
}

.wireframe-club .text-wrapper-3 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.wireframe-club .label {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wireframe-club .slider-output {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wireframe-club .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-small-font-family);
  font-weight: var(--body-small-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-small-font-size);
  text-align: right;
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  white-space: nowrap;
  font-style: var(--body-small-font-style);
}

.wireframe-club .slider {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wireframe-club .block {
  display: flex;
  height: 8px;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--color-background-brand-secondary);
  border-radius: var(--size-radius-full);
}

.wireframe-club .div-3 {
  position: relative;
  width: 16px;
  height: 16px;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-full);
}

.wireframe-club .slider-2 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 6px;
}

.wireframe-club .section-product-grid {
  display: flex;
  flex-direction: column;
  width: 888px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  border-radius: var(--size-radius-200);
}

.wireframe-club .filter-bar {
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.wireframe-club .search-filter {
  display: flex;
  width: 327px;
  align-items: center;
  gap: 24px;
  position: relative;
}

.wireframe-club .search {
  display: flex;
  align-items: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
    var(--size-space-400);
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -1.00px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-full);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.wireframe-club .value {
  position: relative;
  flex: 1;
  margin-top: -0.50px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-tertiary);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.wireframe-club .tag-toggle-group {
  align-items: flex-start;
  display: inline-flex;
  gap: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
}

.wireframe-club .tag-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
}

.wireframe-club .title-2 {
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  position: relative;
  display: flex;
  font-style: var(--single-line-body-base-font-style);
}

.wireframe-club .title-3 {
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-tertiary);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  position: relative;
  display: flex;
  font-style: var(--single-line-body-base-font-style);
}

.wireframe-club .card-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-space-600);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wireframe-club .group {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.wireframe-club .card {
  display: flex;
  flex-wrap: wrap;
  min-width: 240px;
  align-items: flex-start;
  gap: var(--size-space-600);
  padding: var(--size-space-600) var(--size-space-600) 24px
    var(--size-space-600);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.wireframe-club .frame {
  display: flex;
  width: 232px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.wireframe-club .image {
  display: flex;
  flex-direction: column;
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
  position: relative;
  aspect-ratio: 1;
  background: linear-gradient(
    0deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(227, 227, 227, 1) 100%
  );
}

.wireframe-club .text-wrapper-5 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.wireframe-club .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.wireframe-club .p {
  align-self: stretch;
  color: var(--color-text-default-secondary);
  position: relative;
  margin-top: -1.00px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.wireframe-club .button-group {
  display: flex;
  width: 232px;
  align-items: center;
  gap: var(--size-space-400);
  position: relative;
}

.wireframe-club .button-3 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--size-radius-200);
  overflow: hidden;
}

.wireframe-club .button-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-neutral-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.wireframe-club .button-5 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-brand-default);
}

.wireframe-club .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wireframe-club .pagination-previous {
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200)
    var(--size-space-300);
  border-radius: var(--size-radius-200);
  opacity: 0.5;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wireframe-club .previous {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-secondary);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.wireframe-club .pagination-list {
  gap: var(--size-space-200);
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wireframe-club .pagination-page {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200)
    var(--size-space-300);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
}

.wireframe-club .element-wrapper {
  flex-direction: column;
  justify-content: center;
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200)
    var(--size-space-300);
  border-radius: var(--size-radius-200);
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wireframe-club .pagination-gap {
  flex-direction: column;
  justify-content: center;
  padding: var(--size-space-200) var(--size-space-400) var(--size-space-200)
    var(--size-space-400);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wireframe-club .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-base-bold-font-family);
  font-weight: var(--body-base-bold-font-weight);
  color: var(--colors-black-100);
  font-size: var(--body-base-bold-font-size);
  letter-spacing: var(--body-base-bold-letter-spacing);
  line-height: var(--body-base-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-base-bold-font-style);
}

.wireframe-club .pagination-next {
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200)
    var(--size-space-300);
  border-radius: var(--size-radius-200);
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.wireframe-club .footer {
  display: flex;
  width: 1440px;
  align-items: flex-start;
  gap: var(--size-space-400);
  padding: var(--size-space-800) var(--size-space-800) var(--size-space-4000)
    var(--size-space-800);
  position: absolute;
  top: 1365px;
  left: calc(50.00% - 720px);
  background-color: var(--color-background-default-default);
  border-top-width: 1px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-color: var(--color-border-default-default);
}

.wireframe-club .title-4 {
  flex-direction: column;
  width: 262px;
  align-items: flex-start;
  gap: var(--size-space-600);
  position: relative;
  display: flex;
}

.wireframe-club .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.wireframe-club .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 32px;
  margin-top: -1.00px;
  font-family: "Leckerli One-Regular", Helvetica;
  font-weight: 400;
  color: var(--color-text-default-default);
  font-size: 40px;
  letter-spacing: -1.20px;
  line-height: 48.0px;
  white-space: nowrap;
}

.wireframe-club .button-list {
  position: relative;
  flex: 0 0 auto;
}

.wireframe-club .vector {
  position: absolute;
  top: 177px;
  left: 186px;
  width: 104px;
  height: 42px;
}

.wireframe-club .vector-2 {
  position: absolute;
  top: 303px;
  left: 808px;
  width: 57px;
  height: 97px;
}
